<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <h2>HEADING</h2>
    <hr>
    <%= yield %>
    <hr>
    <h2>FOOTER</h2>
  </body>
</html>
